__pycache__/
console_history.txt
*.d
previewImages/*
*.pyc
cache
mofa4q*.qgs~
geopackages/*.*
geopackages/public/*.*
geopackages/public/backup/
geopackages/private/*.*
geopackages/private/backup/
geopackages/dop/*.*
geopackages/search/*.*
/.idea/*
/.vscode/*
/bookmarks.xml
/mofa4q_attachments.zip
/user-history.db

